@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1-2-16, D.Bednogo str.<br />
    Moscow, Russia, 123423<br />
    <abbr title="Phone">GSM:</abbr>
    +7(929) 987-2407
</address>

<address>
    <strong>Support:</strong> <a href="mailto:o.musin@outlook.com">Developer team</a><br />
    <strong>Marketing:</strong> <a href="mailto:i.v.musina@outlook.com">Account executive</a>
</address>
