
@{
    ViewBag.Title = "Parkings";

}

<h2>Parkings</h2>
<div class="form-group-sm">
    <a class="btn btn-info" asp-action="CreateNewParking" asp-controller="Parking">Create new Parking</a>
</div>
<div class="row">
   @await Component.InvokeAsync("ParkingAreasList")
</div>